{% extends "../base.html" %}

{% block body %}
    <div>
        <h2><b>Login</b></h2>
    </div> 
    <form action="{% url 'event:login' %}" method="POST">
        {% csrf_token %} 
        <table>
            <tr>
                <td>{{ form.username.label }}:</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label }}:</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <div>
            <input class="btn btn-primary btn-sm" type="submit" value="Login">
        </div>
    </form>
{% endblock %}