.calendar-header {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.calendar-month {
  display: flex;
  flex-direction: column;
  height: 700px;
}

.calendar-week {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  border: 1px solid;
}

.day-text {
  text-align: center;
}