.calendar-header {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 5px;
}

.calendar-month {
  display: flex;
  flex-direction: column;
  height: 700px;
}

.calendar-week {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  border: 1px solid;
  text-align: center
}

.event-display {
  height: 30px;
  font-size: 0.8em;
  border: 1px solid;
}

#today {
  margin: auto;
  height: 25px;
  width: 25px;
  background-color: rgb(27, 27, 248);
  border-radius: 50%;
}

#calendar-header-month {
  margin: auto;
  font-size: 24px;
}