table {
  width: 100%;
}

.display-header {
  display: flex;
  flex-direction: row;
}

.profile-display-selector {
  border-radius: 5px;
}

#display-title {
  display: flex;
  flex-direction: row;
  margin: auto;
}

th,td {
  overflow-x: auto;
}

tr {
  text-align: center;
  border-bottom: 1px solid;
  border-color: rgb(77, 77, 77);
}

.data-align-left {
  text-align: left;
}

.pagination-tab {
  margin-top: 10px;
}

.margin-button {
  margin: 5px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}