.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 5px; 
}

.grid-item {
  position: relative;
  text-align: left;
  padding-left: 1em;
  font-size: 14px;
  border: 1px solid;
  min-width: 30em;
  min-height: 10em;
}

.comment-timestamp {
  text-align: right;
}