.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 5px; 
}

.grid-item {
  position: relative;
  text-align: left;
  font-size: 14px;
}

.comment-box {
  width: 30em;
  height: 8em;
  border: 1px solid;
  padding-left: 0.5em;
  margin-bottom: 2px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.comment-timestamp {
  text-align: right;
}

.comment-form {
  min-width: 30em;
  min-height: 8em;
  font-size: 12px;
}