.header-display {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
  max-width: 70%;
}

.own-nav-link {
  margin-left:40px;
  flex: 1 1 30%;
  padding-top: 1rem;
}

.own-nav-link:hover {
  text-decoration: underline;
}

#own-nav-brand {
  font-size: 28px;
  color: white;
  font-weight: bold;
}