.login-form {
    margin: auto;
    margin-top: 100px;
    width: 30%;
}

.own-form-item {
    margin-top: 20px;
}

.own-form-label {
    text-align: left;
    margin-top: 5px;
}

.own-form-field {
    padding: 5px;
}

.own-form-button {
    margin-top: 30px;
    margin-left: 40%;
}