.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.item {
  background-color: darkgrey;
  color: black;
  padding: 5px;
}

.grid :hover {
  background-color: grey;
}