.register-form {
    margin-left: 40%;
    width: 50%;
    margin-top: 7.5%;
}

.own-form-item {
    margin-top: 20px;
}

.own-form-label {
    text-align: left;
    margin-top: 5px;
}

.own-form-field {
    width: 50%;
    padding: 5px;
}

.own-form-button {
    margin-top: 20px;
    margin-left: 17.5%;
}

.datepicker {
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 5px;
}

.event-form {
    padding: 1em;
    background-color: gray;
    color: black;
    border-radius: 5px;
}