li {
  list-style: none;
  border: 1px solid;
}

ul {
  margin: 0;
  padding: 0;
}

.timetable {
  min-width: 980px;
}

.display-container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
  gap: 1px 1px;
  grid-template-areas: 
    "slots"
    "main";
  border: 2px solid;
}

.timeslots {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-area: slots;
}

.timeslots li {
  min-width: 40px;
}

.timeslots li:before {
  content: "";
  position: absolute;
  width: 1px;
  margin-left: -1px;
  opacity: 50%;
  height: 450px;
  background-color: white;
  z-index: 0;
}

.activity-container {
  display: grid;
  grid-template-columns: repeat(96, 1fr);
  grid-auto-flow: row dense;
  grid-area: main;
  position: relative;
  height: 400px;
  row-gap: 3px;
  column-gap: 3px;
}

.slot {
  background: green;
  border: 1px solid;
  border-radius: 5px;
  z-index: 5;
  color: white;
  font-size: 12px;
  padding-left: 0.5em;
  overflow: hidden;
}

.slot:hover {
  filter: brightness(85%);
}
